@import url("whitespace-reset.css");

html {
  font: 28px Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  margin: 8px;
}

main {
  border: 2px solid #000;
  width: 680px;
  padding: 10px 15px 15px 15px;
}

h1 {
  font-size: 2rem;
}

h2 {
  padding: 10px 0;
  margin-top: 5px;
  border-top: 30px solid #000;
  border-bottom: 1px solid #000;
}

dl, dt, dd {
  display: inline-block;
}

header dl {
  width: 50%;
  padding: 5px 0;
}

header dl:first-of-type dt {
  font-weight: bold;
}

header dl + dl {
  text-align: right;
}

header {
  margin-bottom: 10px;
  border-bottom: 15px solid #000;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead th {
  text-align: right;
}

tbody th {
  padding: 2px 0;
  border-top: 1px #000 solid;
  text-align: left;
}

tbody td {
  padding: 2px 0;
  border-top: 1px #000 solid;
}

td.indent {
  width: 1rem;
  border-top: none;
}

th dd {
  font-weight: normal;
}

table:first-of-type tr td:last-of-type {
  text-align: right;
  font-weight: bold;
}

table:first-of-type tbody + tbody tr td:last-of-type {
  font-weight: normal;
}

table:first-of-type tbody:first-of-type {
  border-bottom: 20px #000 solid;
}

table:first-of-type tfoot td:last-of-type {
  text-align: left;
  font-size: .9rem;
  font-weight: normal;
  padding: .5rem 0 .5rem .7rem;
  text-indent: -.7rem;
  border-top: 1px solid #000;
}

table + table {
  font-size: .8rem;
}

table + table thead th {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px #000 solid;
}

table + table th {
  width: 21%;
}

table + table th:first-of-type {
  width: 37%;
}

table + table td {
  text-align: left;
  border-top: none;
}

table + table td.indent {
  text-indent: 1.2rem;
}
