@import url("whitespace-reset.css");

/* Base Styles */

h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.25em;
}
h1, h2, h3, h4 {
  margin-bottom: 20px;
}

/* Copy Styles */

.copy p {
  font-size: 1em;
  line-height: 150%;
  margin-bottom: 20px;
}
.copy ul,
.copy ol {
  margin: 0 0 10px 20px;
}
.copy ul {
  list-style: disc;
}
.copy ul ul {
  list-style: circle;
  margin: 5px 0 5px 20px;
}
.copy ol {
  list-style: decimal;
}
.copy ol ol {
  margin: 5px 0 5px 20px;
  list-style: lower-latin;
}
.copy ol.roman  {
  list-style: upper-roman;
}
.copy ol.roman ol {
  list-style-type: lower-roman;
}

/* Grid Styles */

.row {
  max-width: 1200px;
  margin: 0 auto 20px auto;
}
.row:after {
  clear: both;
  content: "";
  display: block;
}
.half,
.third,
.fourth,
.sixth,
.two_third,
.five_sixth {
  float: left;
}

.half { width: 50%; }
.third { width: 33.33%; }
.fourth { width: 25%; }
.sixth { width: 16.66%; }
.two_third { width: 66.66% }
.five-sixth { width: 83.33% }

.margin_row .half + .half,
.margin_row .half + .third,
.margin_row .half + .fourth,
.margin_row .half + .sixth,
.margin_row .half + .two_third,
.margin_row .half + .five_sixth,
.margin_row .third + .half,
.margin_row .third + .third,
.margin_row .third + .fourth,
.margin_row .third + .sixth,
.margin_row .third + .two_third,
.margin_row .third + .five_sixth,
.margin_row .fourth + .half,
.margin_row .fourth + .third,
.margin_row .fourth + .fourth,
.margin_row .fourth + .sixth,
.margin_row .fourth + .two_third,
.margin_row .fourth + .five_sixth,
.margin_row .sixth + .half,
.margin_row .sixth + .third,
.margin_row .sixth + .fourth,
.margin_row .sixth + .sixth,
.margin_row .sixth + .two_third,
.margin_row .sixth + .five_sixth,
.margin_row .two_third + .half,
.margin_row .two_third + .third,
.margin_row .two_third + .fourth,
.margin_row .two_third + .sixth,
.margin_row .two_third + .two_third,
.margin_row .two_third + .five_sixth,
.margin_row .five_sixth + .half,
.margin_row .five_sixth + .third,
.margin_row .five_sixth + .fourth,
.margin_row .five_sixth + .sixth,
.margin_row .five_sixth + .two_third,
.margin_row .five_sixth + .five_sixth {
  margin-left: 2%;
}

.margin_row .half { width: 49%; }
.margin_row .third { width: 32%; }
.margin_row .fourth { width: 23.5%; }
.margin_row .sixth { width: 15%; }
.margin_row .two_third { width: 66% }
.margin_row .five-sixth { width: 83% }
