<!doctype html>
<html>
<head>
    <title><%= @title %></title>
</head>

<body>
  <%= yield %>

  <p>"There are <%= @users.count %> users  with a total of <%= count_interests(@users) %> interests."</p>
</body>

</html>
