@import url("whitespace-reset.css");


/* Table of contents:
 * General CSS
 * Masthead
 * Blog posts
 * Footer
 * Comments
 */

/* General CSS */

a {
  color: #50c3af;
  text-decoration: none;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  color: #384048;
  font-size: 1rem;
  margin-bottom: 35px;
  text-transform: uppercase;
}

body {
  color: #45494d;
  font: normal 1.25rem Helvetica, Arial, sans-serif;
}

/* Masthead */

body > header {
  background: #3d3d3d;
  padding: 145px 0 55px 0;
  text-align: center;
}

body > header h1 {
  font-size: 4.25rem;
  letter-spacing: 1.5rem;
  margin-bottom: 55px;
  text-transform: uppercase;
}

body > header h1 a {
  color: #fff;
}

body > header img {
  margin-bottom: 140px;
}

nav a {
  color: #fff;
  text-transform: uppercase;
}

nav .active {
  color: #50c3af;
}

nav li {
  display: inline-block;
  margin: 0 30px;
}

/* Blog Posts */

main {
  margin: 0 auto;
  max-width: 1000px;
  padding: 90px 0;
}

article {
  margin-bottom: 100px;
}

article h2 a {
  color: inherit;
}

article p {
  line-height: 150%;
  margin-bottom: 15px;
  text-align: justify;
}

.button {
  background: #50c3af;
  border: none;
  border-radius: 15px;
  color: #f5f5f5;
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  margin-right: 28px;
  padding: 7px 30px;
  text-align: center;
}

.pagination .disabled {
  background: #d2d5da;
  cursor: default;
}

.posts {
  float: left;
  margin-right: 11.5%;
  max-width: 630px;
  width: 65%;
}

main:after {
  clear: both;
  content: "";
  display: block;
}

/* Sidebar */

aside {
  background: #f6f7f8;
  float: left;
  padding: 35px;
  width: 23.5%;
}

aside li a {
  color: #787b80;
  font-size: .875rem;
}

aside ul {
  list-style-image: url(images/blt_ul.png);
  padding-left: 20px;
}

aside p {
  color: #787b80;
  font-size: .875rem;
  line-height: 150%;
  text-align: justify;
}

.block {
  margin-bottom: 120px;
}

/* Footer */

footer {
  border-top: 1px solid #d0d0d0;
  color: #7e8287;
  font-size: .75rem;
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 0 30px;

}

/* Comments */

form dt {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .875rem;
  height: 38px;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 450px;
}

textarea {
  height: 140px;
  resize: none;
  width: 100%;
}

.comments header p {
  padding: 5px 0 5px 60px;
}

.comments .kevin {
  background: url("images/kevin.png") no-repeat;
}

.comments .chris {
  background: url("images/chris.png") no-repeat;
}

.comments article {
  margin-bottom: 30px;
}

/* Media Queries */

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  body > header {
    padding: 40px 0 20px 0;
  }
  body > header h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

@media (max-width: 600px) {
  .posts {
    padding: 0 25px 40px 25px;
    width: auto;
    margin-right: 0;
    float: none;
  }
  aside {
    width: auto;
  }

  .block {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 49%;
  }
}

@media (max-width: 480px) {
  aside {
    background: transparent;
  }

  .block {
    background: #f6f7f8;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
  }

  body > header h1 {
    margin-bottom: 20px;
  }

  body > header img {
    width: 90%;
    margin-bottom: 30px;
  }

  nav li {
    margin-top: 20px;
  }
}
