@import url("whitespace-reset.css");

/* Base Styles */

a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

body {
  background: #fff;
  color: #444;
  font: normal 16px "Open Sans", Arial, sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: normal;
}

h2 {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 31px;
}

p {
  font-weight: lighter;
}

/* Fixed Nav */

nav {
  background: #fff;
  border-top: 10px solid #f5f5f5;
  border-bottom: 1px solid #eee;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
}

nav ul {
  max-width: 960px;
  margin: 0 auto;
}

nav a {
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
}

nav li {
  display: inline-block;
  margin: 0 26.7px;
  padding: 10px 0 12px 0;
}

nav a:hover {
  text-decoration: underline;
}

/* Masthead */

body > header {
  background: url("images/front.jpg") no-repeat center;
  color: #fff;
  margin-top: 55px;
  width: 100%;
  height: 428px;
  padding-top: 150px;
  text-align: center;
}

body > header img {
  margin-bottom: -1px;
  width: 80px;
}

#masthead h2 {
  font-size: 31px;
  font-weight: normal;
  text-transform: uppercase;
}

/* Main Sections */

section {
  border-bottom: 1px solid #f5f5f5;
  padding: 60px 0 70px 0;
  margin: 0 30px;
}

section header {
  text-align: center;
}

.button {
  background: green;
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 42px;
  height: 42px;
  text-align: center;
  width: 232px;
}

.center {
  margin: 0 auto;
  margin-top: 10px;
}

#tickets {
  text-align: center;
}

/* Speakers */

#speakers ul {
  max-width: 870px;
  margin: 0 auto;
}

#speakers li {
  border: 1px solid lightgrey;
  float: left;
  margin-right: 13px;
  margin-bottom: 10px;
  height: 375px;
  text-align: center;
  width: 280px;
}

#speakers li:nth-of-type(3n) {
  margin-right: 0;
}

#speakers:after {
  content: "";
  clear: both;
  display: block;
}

figcaption p:first-child {
  color: green;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 5px 0;
}

/* Schedule */

table {
  border-collapse: collapse;
  border-top: 1px solid #f5f5f5;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  text-align: left;
  max-width: 950px;
}

table img {
  height: 107px;
}

td {
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 0 11px 22px;
}

td:first-of-type {
  font-weight: normal;
  padding-left: 6px;
}

td p:nth-of-type(2n) {
  color: green;
  font-size: 18px;
  font-weight: bold;
  margin-top: 7px;
}

td ul {
  display: inline;
  clear: both;
  margin-left: 10px;
}

td ul, td li {
  /*vertical-align: middle;*/
}

td li {
  background: #eee;
  border: 1px solid lightgrey;
  color: black;
  display: inline-block;
  font-size: 7px;
  font-weight: normal;
  margin-right: 3px;
  padding: 1px 3px;
}

.tags p:first-of-type {
  float: left;
}


/* Location */

#location h3 {
  text-align: left;
}

#location img {
  margin-bottom: 25px;
}

#location h4, #location p {
  font-weight: lighter;
  margin-top: 3px;
  margin-bottom: 30px;
  text-align: left;
}

/* Call for Papers */

#callforpapers p {
  text-align: left;
  margin: 15px 0;
}

/* Sponsors */

#sponsors li {
  display: inline;
  margin-right: 40px;
}

.silver img {
  width: 240px;
}

.support img {
  width: 175px;
}

/* Footer */

footer {
  background: grey url("images/people.jpg") no-repeat center 23%;
  border: 1px solid black;
  color: #fff;
  padding: 30px 0;
}

footer div {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  z-index: 1;
}

footer h3 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

footer p {
  margin: 10px 0;
}

footer h2 {
  text-align: center;
}

.small {
  width: 150px;
}

/* Media Queries */

@media (max-width: 654px) {
  nav {
    display: none;
    position: static;
  }
  body > header {
    margin-top: 0;
    height: 300px;
    padding-top: 90px;
  }
  h1 {
    font-size: 40px;
  }

  #masthead h2 {
    font-size: 20px;
    margin-bottom: 31px;
  }
}

@media (max-width: 940px) {
  #speakers li:nth-of-type(2n) {
    margin-right: 0;
  }
}
